<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container">
        <div class="well  normal-center-container">
            <h2>Compare two lists</h2>            
            <form method="post" class="form-horizontal row-fluid">
                {% csrf_token %}
                <div class="compare-lists-inputs">  
                    <div class="compare-lists-box margin-right-40">  
                        Input list 1:
                        {{listsToCompare.inputText1}}
                    </div>
                    <div class="compare-lists-box">  
                        Input list 2: 
                        {{listsToCompare.inputText2}}
                    </div>    
                </div>
                <div class="compare-lists-inputs">  
                    <div class="compare-lists-box margin-right-40">  
                        <h4>Instances found in list 1 and in list 2:</h4>
                        {{listsToCompare.resultFoundInList2}}
                    </div>
                    <div class="compare-lists-box">  
                        <h4>Instances found in list 1 but missing from list 2:</h4> 
                        {{listsToCompare.resultMissingInList2}}
                    </div>    
                </div>
            </br></br>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary textSize20px">Compare lists</button>    
                </div>                 
            </form>
        </br></br>
            <div class="d-flex justify-content-center">
                <p><a href="{% url 'index' %}" class="btn textSize20px btn-primary">Return to dashboard</a></p>       
            </div>
        </div>
  </div>
{% endblock %}