<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}API Documentation - Incodaq Tools{% endblock %}
{% block content %}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="content">        
                    
                        <div class="content">
                            <div class="module">
                                <div class="module-head">
                                    <h1>API Docs</h1>
                                </div>
                                <div class="module-body">
                                    <section class="docs">
                                        <h2>Overview</h2>
                                        <p>
                                            Note: This documentatios is unfinished.
                                        </p> 
                                        <p>
                                            This is a simple API that returnes standardized telephone numbers for Sweden and Finland. </br> 
                                        </br></br>
                                            This API expects two parameters as inputs: country code and the and telephone numbers. Telephone numbers need to be a string where the numbers are divided with a comma sign. All fields are required.
                                            This API returns three parameters: response message, country code and fixed telephone numbers.
                                        </p>     
                                                                        
                                    
                                    </section> 
                                    <section class="docs">
                                    <h2>Inputs</h2>
                                    <p>
                                        This API has 2 required input values. </br></br>
                                        Input: country_code</br>
                                        Description: Country code</br>
                                        Valid range: SE or FI</br>
                                        Type: String</br>
                                        Required: Yes</br>
                                        </br></br>
                                        Input: telephone_numbers</br>
                                        Description: Telepone numbers divided by a comma</br>
                                        Valid range: Telephone numbers</br>
                                        Type: String</br>
                                        Required: Yes</br>
                                    </p>


                                    <h2>Example of succesfull API calls</h2>

                                    <h3>Example of a FI call</h3>
                                        GET Request:<br/>
                                        https://tools.incodaq.com/api/v1/formattelnumbers/?country_code=FI&telephone_numbers="+587  31264413, 0058731212345,+358 7 3123-4412,+5873123-4412,005873 123-3332,076 111    12 34,75 113 1244,08 444 555,085556666,08-123-1234,08555-6666"                                        <br/><br/>
                                        Response:<br/>
                                        {"status":"SUCCESS","country_code":"FI","telephone_numbers":"0731264413,0731212345,0731234412,0731234412,0731233332,0761111234,0751131244,08444555,085556666,081231234,085556666"}<br/>

                                    <h3>Example of a SE call</h3>
                                        GET Request:<br/>
                                        https://tools.incodaq.com/api/v1/formattelnumbers/?country_code=SE&telephone_numbers="+46731264413,0046731212345,+4673123-4412,004673 123-3332,076 111 12 34,75 113 1244,08 444 555,085556666,08-123-1234,08555-6666"
                                        <br/><br/>
                                        Response:<br/>
                                        {"status":"SUCCESS","country_code":"SE","telephone_numbers":"0731264413,0731212345,0731234412,0731233332,0761111234,0751131244,08444555,085556666,081231234,085556666"}<br/>
                                    
                                    <h2>Example of failed API calls</h2>
                                            <h3>Output JSON without sending the inputs</h3>
                                                                                            
                                                GET Request:<br/>
                                                https://tools.incodaq.com/api/v1/formattelnumbers/
                                                <br/>
                                                <br/>
                                                Response:<br/>
                                                {"status":"FAILED ","message":"No country code and no telephone numbers"}<br/>


                                            

<h3>Output JSON without sending the telephone_numbers input</h3>
GET Request:<br/>
https://tools.incodaq.com/api/v1/formattelnumbers/?country_code=SE
<br/><br/>
Response:<br/>
{"status":"FAILED ","message":"No telephone numbers"}<br/>

<h3>Output JSON without sending the country_code input</h3>
GET Request:<br/>
https://tools.incodaq.com/api/v1/formattelnumbers/?telephone_numbers="+46731264413,0046731212345,+4673123-4412,004673 123-3332,076 111 12 34,75 113 1244,08 444 555,085556666,08-123-1234,08555-6666"
<br/><br/>
Response:<br/>
{"status":"FAILED ","message":"No country code"}<br/>

<h3>Output JSON without sending the proper country_code input</h3>
GET Request:<br/>
https://tools.incodaq.com/api/v1/formattelnumbers/?country_code=ST&telephone_numbers="+46731264413,0046731212345,+4673123-4412,004673 123-3332,076 111 12 34,75 113 1244,08 444 555,085556666,08-123-1234,08555-6666"
<br/><br/>
Response:<br/>
{"status":"FAILED","message":"Unknown country code"}<br/>


                                            
                                            
                                            <br/><br/>
                                    </section>  
                                </div>                               
                            </div>
                        </div>
                        
                    <!--/.span12-->
                            
                           
                        
                    
                    <!--/#btn-controls-->
                    
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->


{% endblock %}