<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}API Documentation - Incodaq Tools{% endblock %}
{% block content %}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="content">        
                    
                        <div class="content">
                            <div class="module">
                                <div class="module-head">
                                    <h2>API Docs</h2>
                                </div>
                                <div class="module-body">
                                    <section class="docs">
                                        <h3>Overview</h3>
                                        <p>
                                            Note: This documentatios is unfinished.

                                            This is a simple API that returnes standardized telephone numbers for Sweden and Finland. </br> 
                                            
                                            This API expects two parameters as inputs: country code and the and telephone numbers. Telephone numbers need to be a string where the numbers are divided with a comma sign. All fields are required.
                                            This API returns three parameters: response message, country code and fixed telephone numbers.
                                        </p>     
                                                                        
                                    
                                    </section> 
                                    <section class="docs">
                                    <h3>Input</h3>
                                    <p>
This API has 2 required input values. </br></br>
Input: telCountry</br>
Description: Country code</br>
Valid range: SE or FI</br>
Type: String</br>
Required: Yes</br>
</br></br>
Input: telNumberList</br>
Description: Telepone numbers</br>
Valid range: Telephone numbers divided by a comma</br>
Type: String</br>
Required: Yes</br>
</p>


                                            <h3>Output JSON without the inputs</h3>
                                            
GET Request:<br/>
https://tools.incodaq.com/api/v1/formattelnumbers/<br/>
<br/>
Response:<br/>
{<br/>
    "telCountry": [<br/>
        "Not a valid string."<br/>
    ],<br/>
    "telNumberList": [<br/>
        "This field may not be blank."<br/>
    ]<br/>
}<br/>
The data payload is a county code telCountry and a telNumberList that .

                                            

                     https://medium.com/@goranaviani/testing-in-python-c6b903eb247d                       <h3>Output JSON with inputs</h3>
GET Request:<br/>
https://tools.incodaq.com/api/v1/formattelnumbers/?telCountry=SE&telNumberList="+4673123-4412,004673 123-3332,076 111 12 34,75 113 1244,08 444 555,08-123-1234,08555-6666" 
<br/><br/>
Response:<br/>
{<br/>
    "responseMessage": "Success",<br/>
    "telCountry": "SE",<br/>
    "telNumberList": "046731234412,0731233332,0761111234,0751131244,08444555,081231234,085556666"
<br/>
}<br/>



                                            
                                            
                                            <br/><br/>
                                    </section>  
                                </div>                               
                            </div>
                        </div>
                        
                    <!--/.span12-->
                            
                           
                        
                    
                    <!--/#btn-controls-->
                    
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->


{% endblock %}