<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
  <div class="well  normal-center-container">
      <h2>Login</h2>            
      <form method="post" enctype="multipart/form-data" class="form-horizontal row-fluid">
          {% csrf_token %}
          <div class="control-group">
              <label class="control-label" for="basicinput">Description:</label>
              <div class="controls">
                  {{form.username}}
              </div>
          </div>
          <div class="control-group">
              <label class="control-label" for="basicinput">Upload file:</label>
              <div class="controls">
                  {{form.password}}
              </div>
        </div>
          <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-large btn-primary">Login</button>    
          </div>                 
      </form>    
  </div>
</div>


{% endblock %}