<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}



<div class="page-content container">
  
    <div class="col-lg-4 col-lg-offset-4">
      <div class="login-wrapper">
            <div class="box">
                <div class="content-wrap">
                    <h3>Sign In</h3>
                    <div class="social">
                      <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="action">
                        <button type="submit" class="btn btn-primary signup">Sign in</button>                    
                      </form>                    
                  </div>
                    </div>                
                </div>
            </div>          
        </div>
 
  </div>












{% endblock %}