<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Support{% endblock %}
{% block content %}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="content">        
                    
                        <div class="content">
                            <div class="module">
                                <div class="module-head">
                                    <h2>Support</h2>
                                </div>
                                <div class="module-body">
                                    <section class="docs">
                                        <h3>Introduction</h3>
                                        <p><strong>Incodaq Tools support</strong> is here to help. <br/><br/>
                                            Learn more about popular topics and find resources that will help you with all of your Incodaq tools.</p>     
                                    </section> 
                                    <section class="docs">
                                            <h3>Hot to use & Functionalities</h3>
                                            There are two types of tools here on Incodaq Tools: Free tools you can access by going to 
                                            <a href="{% url 'index' %}" class="">Home page</a>
                                            and Paid tools where you have to <a href="{% url 'login' %}" class=""> Login</a> to be able to access them.
                                            <br/><br/>
                                            <h3>List of available tools</h3>
                                            <p>
                                                1. Merge tool <br/>
                                                2. Format telephone numbers - Swedish edition<br/>
                                                3. Format telephone numbers from Excel - Swedish edition (Requires a login)<br/>
                                            </p>

                                            <h3>Tool description</h3>
                                            <p>
                                                Merge tool <br/>
                                                Merge tool is used for merging several rows into one row joined by symbols or characters of your choice.
                                                
                                            </p>
                                            
                                    </section>  
                                </div>                               
                            </div>
                        </div>
                        
                    <!--/.span12-->
                            
                       



                    
                        <div class="btn-box-row row-fluid">
                            <div class="span12">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <a href="#" class="btn-box small span4"><i class="icon-envelope"></i><b>Email</b>
                                        </a><a href="#" class="btn-box small span4"><i class="icon-group"></i><b>Linkedin</b>
                                        </a><a href="#" class="btn-box small span4"><i class="icon-save"></i><b>Github</b>
                                        </a>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <a href="#" class="btn-box small span4"><i class="icon-pencil"></i><b>Medium articles</b></a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    
                    <!--/#btn-controls-->
                    
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->


{% endblock %}