<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Support{% endblock %}
{% block content %}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="content">
                           
                        Support
                            
                        Get support by email, Linkedin or some other way. 

                        <div class="btn-box-row row-fluid">
                            <div class="span12">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <a href="#" class="btn-box small span4"><i class="icon-envelope"></i><b>Email</b>
                                        </a><a href="#" class="btn-box small span4"><i class="icon-group"></i><b>Linkedin</b>
                                        </a><a href="#" class="btn-box small span4"><i class="icon-save"></i><b>Github</b>
                                        </a>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <a href="#" class="btn-box small span4"><i class="icon-pencil"></i><b>Medium articles</b></a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!--/#btn-controls-->
                    
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->


{% endblock %}