<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Support - Incodaq Tools{% endblock %}
{% block content %}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="content">        
                    
                        <div class="content">
                            <div class="module">
                                <div class="module-head">
                                    <h2>Support</h2>
                                </div>
                                <div class="module-body">
                                    <section class="docs">
                                        <h3>Introduction</h3>
                                        <p>
                                            Learn more about popular topics and find resources that will help you with all of your Incodaq tools.</p>     
                                    </section> 
                                    <section class="docs">
                                            <h3>Hot to use & Functionalities</h3>
                                            There are two types of tools on Incodaq Tools: Free tools everyone can access by going to
                                            <a href="{% url 'index' %}" class="">Home page</a>
                                            and Locked tools where one is required to <a href="{% url 'login' %}" class=""> Sign in</a> to be have access to them.
                                            <br/><br/>
                                            <br/>
                                            <h3>List of tools</h3>
                                            <p>
                                                1. Merge text lines<br/>
                                                2. Split text lines<br/>
                                                3. Format telephone numbers<br/>
                                                4. Format telephone numbers from Excel - Swedish edition (Locked tool)<br/>
                                                5. Compare two lists of data<br/>
                                                6. Morse code tool<br/>
                                            </p>

                                            <h3>Tool description</h3>
                                            <p>
                                                <strong>1. Merge text lines tool</strong> <br/>
                                                This tool is used for merging multiple rows into a piece of text joining rows with symbols or characters of users choice.
                                            </p>
                                            <p>
                                                <strong>2. Split text lines tool</strong> <br/>
                                                This tool is used for splitting a piece of text with symbols or characters of users choice.
                                            </p>
                                            <p>
                                                <strong>3. Format telephone numbers</strong> <br/>
                                                The idea behind this tools is to use it to fix telephone numbers to fit into Swedish or Finnish telephone number format. To use it you just need to copy your Swedish or Finnish telephone numbers - each row should hold not more than one telephone number.
                                                You also need to select between available country codes (SE or FI) - SE is pre selected.
                                            </p>

                                            <p>
                                                <strong>4. Formatting telephone numbers from Excel, SE edition</strong> <br/>
                                                Formatting telephone numbers from Excel, SE edition - does all the things just as the above tool but with the convenience of uploading Excel files from which telephone numbers will be automatically standardized to Swedish telephone standard. The fixed file will be available for download.
                                            </p>

                                            <p>
                                                <strong>5. Comparing two lists tool</strong> <br/>
                                                This tools looks at the differences two inputed lists have and shows as a result instances that are found in both lists and instances that are found only in the first list (missing in the second list).
                                            </p>
                                            <p>
                                                <strong>6. Morse code tools</strong> <br/>
                                                Morse code tool provides coding standard text to Morse code.
                                            </p>
                                    </section>  
                                </div>                               
                            </div>
                        </div>
                        
                    <!--/.span12-->
                            
                           
                        <div class="btn-box-row row-fluid">
                            <div class="span12">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <a href="https://se.linkedin.com/in/goran-aviani" class="btn-box small span2"><i class="icon-group"></i><b>Linkedin</b></a>
                                        <a href="https://twitter.com/GoranAviani" class="btn-box small span2"><i class="icon-twitter"></i><b>Twitter</b></a>
                                        <a href="https://github.com/GoranAviani" class="btn-box small span2"><i class="icon-save"></i><b>Github</b></a>
                                        <a href="https://www.freecodecamp.org/news/author/goran/" class="btn-box small span2"><i class="icon-pencil"></i><b>freeCodeCamp articles</b></a>
                                         <a href="https://medium.com/@goranaviani" class="btn-box small span2"><i class="icon-pencil"></i><b>Medium articles</b></a>
                                         <a href="https://dev.to/goranaviani" class="btn-box small span2"><i class="icon-code"></i><b>Dev</b></a>
                                    </div>
                                </div>
                               
                            </div>
                            
                        </div>
                    
                    <!--/#btn-controls-->
                    
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->


{% endblock %}