<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container">
        <div class="well  normal-center-container">
            <h2>Format telephone numbers - Swedish edition</h2>            
            <form method="post" class="form-horizontal row-fluid">
                {% csrf_token %}
                <div class="control-group">
                    <label class="control-label" for="basicinput">Input lines:</label>
                    <div class="controls">
                        {{numbersToFormat.inputText}}
                    </div>
                </div>
            </br></br>
                <div class="d-flex justify-content-center">
                        <button type="submit" class="btn textSize20px  btn-primary ">Format numbers</button>    
                      </div>                 
            </form>
        </br></br>
        <div class="d-flex justify-content-center">
            <p><a href="{% url 'index' %}" class="btn textSize20px btn-primary">Return to dashboard</a></p>       
        </div>
        </div>
  </div>
{% endblock %}