<!-- templates/home.html -->
{% extends 'base.html' %}


{% block content %}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="content">
                    <div class="btn-controls">
                        <div class="btn-box-row row-fluid">
                            <a href="{% url 'mergetextinput' %}" class="btn-box big span4"><i class=" icon-random"></i><b>Merge Text Lines</b>
                                <p class="text-muted">Line break and newline remover</p>
                            </a>
                            <a href="{% url 'formattelnumbers' %}" class="btn-box big span4"><i class="icon-certificate"></i><b>Format telephone numbers - SE</b>
                                <p class="text-muted">Remove non-Swedish-standard characters and formats</p>
                            </a>
                        </div>
    
                    </div>
                    <!--/#btn-controls-->  
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->


{% endblock %}