<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}index{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="content">
                    <div class="btn-controls">
                        <div class="btn-box-row row-fluid">
                            <a href="{% url 'mergetextinput' %}" class="btn-box big span4"><i class=" icon-random"></i><b>Merge Text Lines</b>
                                <p class="text-muted">Line break and newline remover</p>
                            </a>
                            <a href="{% url 'formattelnumbers' %}" class="btn-box big span4"><i class="icon-certificate"></i><b>Format telephone numbers</b>
                                <p class="text-muted">Remover of non-locally-standardised characters and numbers</p>
                            </a>
                            <a href="#" class="btn-box big span4"><i class="icon-question-sign"></i><b>Coming soon...</b>
                                <p class="text-muted">Coming soon...</p>
                            </a>
                        </div>
                        <div class="btn-box-row row-fluid">
                                <a href="#" class="btn-box big span4"><i class=" icon-question-sign"></i><b>Coming soon...</b>
                                    <p class="text-muted">Coming soon...</p>
                                </a>
                                <a href="#" class="btn-box big span4"><i class="icon-question-sign"></i><b>Coming soon...</b>
                                    <p class="text-muted">Coming soon...</p>
                                </a>
                                <a href="#" class="btn-box big span4"><i class="icon-question-sign"></i><b>Coming soon...</b>
                                    <p class="text-muted">Coming soon...</p>
                                </a>
                        </div>    
                    </div>
                    <!--/#btn-controls-->  
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->


{% endblock %}